name: PR

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  pr-checks:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Check out the repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.13

      - name: Setup cwltool
        run: |
          sudo apt update
          sudo apt install -y cwltool

      - name: Install the project
        run: uv sync --frozen --all-extras --dev

      - name: Run simplified pre-commit hooks
        run: |
          SKIP=pytest-check uv run pre-commit run --all-files

      - name: Run tests
        run: |
          uv run pytest -vv --cov=src tests/ --cov-report xml:coverage/coverage.xml
        env:
          ENVIRONMENT: ${{ vars.ENVIRONMENT }}
          EODH__BASE_URL: ${{ vars.EODH__BASE_URL }}
          EODH__REALM: ${{ vars.EODH__REALM }}
          EODH__USERNAME: ${{ secrets.EODH__USERNAME }}
          EODH__PASSWORD: '${{ secrets.EODH__PASSWORD }}'
          EODH__CLIENT_ID: ${{ secrets.EODH__CLIENT_ID }}
          EODH__WORKSPACE_SERVICES_ENDPOINT_PATH: ${{ vars.EODH__WORKSPACE_SERVICES_ENDPOINT_PATH }}
          EODH__STAC_API_ENDPOINT_PATH: ${{ vars.EODH__STAC_API_ENDPOINT_PATH }}
          EODH__ADES_ENDPOINT_PATH: ${{ vars.EODH__ADES_ENDPOINT_PATH }}
          EODH__TMP_S3_CREDENTIALS_ENDPOINT_PATH: ${{ vars.EODH__TMP_S3_CREDENTIALS_ENDPOINT_PATH }}

      - name: Get code coverage
        uses: orgoro/coverage@3f13a558c5af7376496aa4848bf0224aead366ac # v3.2
        with:
          coverageFile: coverage/coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          thresholdAll: 0.0
          thresholdNew: 0.0
          thresholdModified: 0.0
